@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgba(40, 40, 40, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-opacity {
  animation: opacity 1s linear;
}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: rgba(251, 251, 249, 1);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.p1 {
  font-weight: 400;
  font-size: 14px;
}

.p1-medium {
  font-weight: 500;
  font-size: 14px;
}

.p2 {
  font-weight: 400;
  font-size: 12px;
}

.p3 {
  font-weight: 500;
  font-size: 22px;
}

.p4 {
  font-weight: 400;
  font-size: 34px;
}

.p4-medium {
  font-weight: 500;
  font-size: 34px;
}

.p5 {
  font-weight: 400;
  font-size: 24px;
}

.p6 {
  font-weight: 400;
  font-size: 16px;
}

.p6-medium {
  font-weight: 500;
  font-size: 16px;
}

.p7-semibold {
  font-weight: 600;
  font-size: 18px;
}

.p7-medium {
  font-weight: 500;
  font-size: 18px;
}

.p7 {
  font-weight: 400;
  font-size: 18px;
}

.p8-semibold {
  font-weight: 600;
  font-size: 20px;
}

.p8-medium {
  font-weight: 500;
  font-size: 20px;
}

.p9 {
  font-weight: 500;
  font-size: 52px;
}

.h1 {
  font-weight: 600;
  font-size: 40px;
}

.h2 {
  font-weight: 500;
  font-size: 36px;
}

.h3 {
  font-weight: 500;
  font-size: 28px;
}

.h4 {
  font-weight: 500;
  font-size: 30px;
}

.h5 {
  font-weight: 500;
  font-size: 32px;
}

.h6 {
  font-weight: 500;
  font-size: 24px;
}

.h7 {
  font-weight: 500;
  font-size: 20px;
}

input {
  outline: none;
}


@media only screen and (max-width: 2559px) and (min-width: 1920px) {
}

@media only screen and (max-width: 1919px) and (min-width: 1510px) {
}

@media only screen and (max-width: 1509px) and (min-width: 1440px) {
}

@media only screen and (max-width: 1439px) and (min-width: 1280px) {
}

@media only screen and (max-width: 1279px) and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {
  .p3 {
    font-size: 16px;
  }

  .p9 {
    font-size: 32px;
  }

  .h1 {
    font-size: 30px;
  }
}